body{
    padding: 30px;
}
.accordion{
    background-color: #979797;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}
.accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdbdbd;
    border-radius: 5px;
cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    padding: 10px;

}

.accordion-header:hover {
    background-color: #767575;
}
.accordion-header h2{
}

.accordion-body{
    padding: 10px;
}